<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Movies</title>
    <link rel="stylesheet" href="/public/style.css" />
</head>
<body>
    <div class="central">
        <%- include('./partials/header') %>
        <h1> Express Movies : les site des cinéphiles</h1>
        <div>
            Êtes-vous plutôt films ou séries ? Peu import, vous trouverez votre bonheur dans les deux cas
        </div>
    </div>
        <%- include('./partials/footer') %>
</body>
</html>